@page "/article"
@layout BaseLayout

<PageTitle>Article</PageTitle>

<main class="bg-body">
    <div class="main order-1 pb-5 container">
        <div class="intro">
            <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
                @* <a class="btn btn-sm btn-bd-light mb-2 mb-md-0"
                href="https://github.com/twbs/bootstrap/blob/v5.0.2/site/content/docs/5.0/utilities/display.md"
                title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a> *@
                <span />
                <div>
                    <h6 class="text-muted">A blog post</h6>
                    <h1 class="title" id="content">A fantastic article</h1>
                </div>
            </div>

            <p class="lead">Bring Bootstrap to life with our optional JavaScript plugins. Learn about each plugin, our data
                and programmatic API options, and more.</p>

            <div class="entry-meta text-muted small mb-3">
                <span class="byline">
                    <a href="https://olegkarasik.wordpress.com/author/the-author/" title="Posts by The Author"
                        rel="author">The Author</a> &bull; </span>
                <span class="cat-links">
                    <a href="https://olegkarasik.wordpress.com/category/personal-notes/" rel="category tag">Personal
                        notes</a> &bull;
                </span><!-- .cat-links -->


                <span class="published-on">
                    Published on <time class="entry-date published" datetime="2023-04-28T10:14:11+03:00">April 28,
                        2023</time> &bull; Edited on <time class="updated" datetime="2023-04-30T10:21:30+03:00">April 28,
                        2023</time> &bull; </span>

                <span class="word-count">5 Minutes</span>
            </div>

            @*
            <div class="mt-2">
            <span class="badge rounded-pill bg-primary">Tag 1</span>

            <span class="badge rounded-pill bg-primary">Tag 2</span>

            <span class="badge rounded-pill bg-primary">Tag 3</span>
            </div>
            *@

            @*<svg class="bd-placeholder-img card-img-top mt-4" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
            focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text></svg>
            *@

        </div>

        <div class="toc mt-4 mb-4 my-md-0 ps-xl-3 mb-lg-5 text-muted">
            <TableOfContents />
        </div>

        <div class="content">

            <section id="introduction">
                <h2>Introduction</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra consequat lacus, sed viverra ante
                    blandit vel. Quisque egestas eget dui a sodales. Pellentesque sagittis dui non magna pulvinar, nec
                    iaculis turpis volutpat. Duis suscipit, sem a volutpat posuere, nunc urna commodo elit, et pellentesque
                    leo ex condimentum leo. Integer massa quam, mattis eu tincidunt vitae, ultricies sit amet purus.
                    Maecenas pulvinar odio quis ipsum fermentum congue. Sed sit amet tortor eget augue vestibulum suscipit.
                    Nulla ante diam, rutrum eget magna at, venenatis vestibulum turpis. In vestibulum dictum risus vitae
                    pellentesque. Phasellus sed varius nisl. Maecenas venenatis lacus quis nisi ultricies viverra a non dui.
                    Donec erat leo, laoreet in sagittis vel, convallis nec justo. Nullam leo neque, ultricies sed ante ut,
                    faucibus mattis elit. Ut posuere ipsum nunc, dignissim eleifend dui faucibus eget. Mauris varius nunc
                    eget lorem ultricies, sed ultrices lectus scelerisque.</p>
            </section>

            <section id="sub-ultra-fortis">
                <h2>Sub ultra fortis</h2>

                <p>In hac habitasse platea dictumst. Quisque tortor velit, sagittis sed mauris a, sagittis tempus massa.
                    Phasellus pharetra orci sem, ac ullamcorper quam pellentesque rutrum. Proin id justo augue. Duis et
                    nulla suscipit, varius tortor et, tristique augue. Aliquam placerat sapien vitae quam condimentum, at
                    consectetur ligula molestie. Phasellus malesuada arcu eu sem vehicula dignissim.</p>

                <p>Donec et odio nec odio dictum blandit. Cras feugiat magna quis sapien facilisis, id ullamcorper ipsum
                    porta. Nam auctor sollicitudin tortor a ultricies. Maecenas faucibus aliquet dui ac pretium. Mauris ut
                    enim ligula. Donec lobortis ut neque sollicitudin ornare. Donec et porta massa, eu tristique risus.
                    Phasellus vulputate neque non lacus eleifend ultrices. In turpis tortor, sagittis et rhoncus vel,
                    commodo in lorem. Integer mi sem, convallis at urna vitae, viverra imperdiet urna.</p>

                <section id="lorem-ipsum">
                    <h3>Lorem ipsum</h3>

                    <p>In hac habitasse platea dictumst. Quisque tortor velit, sagittis sed mauris a, sagittis tempus massa.
                        Phasellus pharetra orci sem, ac ullamcorper quam pellentesque rutrum. Proin id justo augue. Duis et
                        nulla suscipit, varius tortor et, tristique augue. Aliquam placerat sapien vitae quam condimentum,
                        at
                        consectetur ligula molestie. Phasellus malesuada arcu eu sem vehicula dignissim.</p>
                </section>
            </section>

            <section id="sub-ultra-fortis2">
                <h2>Sub ultra fortis</h2>

                <p>In hac habitasse platea dictumst. Quisque tortor velit, sagittis sed mauris a, sagittis tempus massa.
                    Phasellus pharetra orci sem, ac ullamcorper quam pellentesque rutrum. Proin id justo augue. Duis et
                    nulla suscipit, varius tortor et, tristique augue. Aliquam placerat sapien vitae quam condimentum, at
                    consectetur ligula molestie. Phasellus malesuada arcu eu sem vehicula dignissim.</p>
            </section>
        </div>
    </div>
</main>