nav {
    font-size: .875rem;
}

a {
    display: block;
    padding: .125rem 0 .125rem .75rem;
    text-decoration: none;
    color: inherit;
    font-size: .875rem;
    border-left: .125rem solid transparent;
}

a:active, a.active {
    font-weight: 500;
}

a:focus, a:hover, a:active, a.active {
    text-decoration: none;
    color: #6f42c1;
    border-left-color: #6f42c1;
}

ul {
    padding-left: 0;
    margin-top: .25rem;
}

nav ul ul  {
    padding-left: 1rem;
}

ul li {
    padding-left: 0;
    list-style: none;
}

.on-sm {
    display: none;
}

@media (max-width: 992px) {
    .on-sm {
        display: block;
    }
}
