@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

<strong class="h6 my-2 ms-3">On this page</strong>
<hr class="my-2 ms-3" />
<nav id="TableOfContents">
    <ul>
        <li><a href="/article/#introduction">Introduction</a></li>
        <li><a href="/article/#sub-ultra-fortis">Sub ultra fortis</a>
            <ul>
                <li><a href="/article/#lorem-ipsum">Lorem ipsum</a></li>
            </ul>
        </li>
        <li><a href="/article/#sub-ultra-fortis2">Sub ultra fortis</a></li>
    </ul>
</nav>
<hr class="my-2 ms-3 on-sm" />