@inject RenderingContext RenderingContext

@using BlazorApp

<button type="button" class="btn btn-primary" @onclick="IncrementCount">@(RenderingContext.IsClient ? "Client" : "Server") count: @_currentCount</button>

@code {
    int _currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    void IncrementCount()
    {
        _currentCount += IncrementAmount;
    }
}