@page "/auth"
@attribute [Authorize]

<AppPageTitle>Yay!</AppPageTitle>

<h1>Yay! You can view this page 🤩</h1>

<p>That means that you are authorized.</p>

<p>Here's a client-side component running in WebAssembly.</p>

<div class="card mb-4">
    <div class="card-body">
        <Client.FetchMessage />
    </div>
</div>

<p>Clicking the button causes a request to be sent to an endpoint that requires authentication.</p>

<p>It uses the same auth cookie as the SSR part of this app.</p>