@page "/counter"
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<AppPageTitle>Counter</AppPageTitle>

<h1>Counter</h1>

<p>This component demonstrates nested interactive components wih different render modes. The components are prerendered on the server.</p>

<p>Running on the client with WebAssembly:</p>

<Counter CurrentCount="2" IncrementAmount="1" @rendermode="InteractiveWebAssembly" />

<p class="mt-4">Running on the server:</p>

<Counter IncrementAmount="2" @rendermode="InteractiveServer" />
