@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>This component demonstrates nested interactive components wih different render modes. The components are prerendered on the server.</p>

<p>Running on the client with WebAssembly:</p>

<Counter IncrementAmount="1" @rendermode="@RenderMode.WebAssembly" />

<p class="mt-4">Running on the server:</p>

<Counter IncrementAmount="2" @rendermode="@RenderMode.Server" />
