@page "/"

<AppPageTitle>Index</AppPageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app. </p>

<p>This page has been server-side rendered 😊</p>

<p>Data entered into this app is stored in-memory, and it is removed once the app is restarted.</p>

<p>The source code is available in this <a href="https://github.com/marinasundstrom/Blazor8Test" target="_blank">GitHub repo</a>.</p>

<br />

<AuthorizeView>
    <p>You have been authorized</p>
</AuthorizeView>